.top.fixed.menu {
    display: none;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead .text.container {
    margin: 3em 0;
}

.masthead h1.header {
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.vertical.stripe {
    margin: 8em 0em;
}

.vertical.stripe h3 {
    font-size: 2em;
}

.vertical.stripe .text.container p {
    font-size: 1.33em;
}

.vertical.stripe .text.container {
    margin: 8em 0em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.ui.card .image {
    height: 256px;
}

.ui.card > .image > img, .ui.cards > .card > .image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

@media only screen and (max-width: 700px) {
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead h1.header {
        font-size: 2em;
    }

    .masthead h2 {
        font-size: 1.5em;
    }
}

/* Colors overridden to avoid inaccessible contrast levels */

a {
    color: #397AB9;
}

.ui.card > .extra,
.ui.cards > .card > .extra,
.ui.card .meta,
.ui.cards > .card .meta,
.ui.card .meta > a:not(.ui),
.ui.cards > .card .meta > a:not(.ui) {
    color: #767676;
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: #1F7BC1;
}