{% macro info(item, section, archived=false) %}

{% set github_token = get_env(name="GITHUB_TOKEN") %}

{% if item.name %}
    {% set name = item.name %}
{% endif %}

{% if item.source and item.source == 'crates' %}
    {% set data = load_data(url = "https://crates.io/api/v1/crates/" ~ item.name ~ "?include=downloads,default_version", format="json", headers=["User-Agent=arewegameyet (gamedev-wg@rust-lang.org)"]) %}

    {% set name = data.crate.name %}
    {% set description = data.crate.description %}
    {% set repository_url = data.crate.repository %}
    {% set crate_url = 'https://crates.io/crates/' ~ name %}
    {% set latest_version = data.crate.default_version %}
    {% set downloads = data.crate.downloads %}
    {% set recent_downloads = data.crate.recent_downloads %}
    {% set license = data.versions | first | get(key="license") %}

    {% if data.crate.homepage %}
        {% set homepage_url = data.crate.homepage %}
    {% endif %}
{% elif item.source and item.source == 'github' %}
    {% set data = load_data(url="https://api.github.com/repos/" ~ item.name, headers=["Authorization=Bearer " ~ github_token], format="json") %}
    
    {% set name = data.name %}
    {% set description = data.description %}
    {% set repository_url = data.html_url %}

    {% if data.license %}
        {% set license = data.license.name %}
    {% endif %}
    
    {% if data.homepage %}
        {% set homepage_url = data.homepage %}
    {% endif %}
{% endif %}

{# OVERRIDES: If specified in the config file, the above can be rewritten. #}
{% if item.repository_url %}   {% set repository_url = item.repository_url %}         {% endif %}
{% if item.crate_url %}        {% set crate_url = item.crate_url %}                   {% endif %}
{% if item.homepage_url %}     {% set homepage_url = item.homepage_url %}             {% endif %}
{% if item.gitter_url %}       {% set gitter_url = item.gitter_url %}                 {% endif %}
{% if item.description %}      {% set description = item.description %}               {% endif %}

{# Simple heuristic for picking the 'main' URL for an entry - might need a way of overriding #}
{% if crate_url %}
    {% set primary_url = crate_url %}
{% elif homepage_url %}
    {% set primary_url = homepage_url %}
{% elif repository_url %}
    {% set primary_url = repository_url %}
{% endif %}

{% if repository_url and repository_url is containing("github.com/") %}
    {% set repo_id = repository_url | split(pat="github.com/") | last %}

    {% set data = load_data(url="https://api.github.com/repos/" ~ repo_id, headers=["Authorization=Bearer " ~ github_token], format="json", required=false) %}
    {% if data %}
        {% set stars = data.stargazers_count %}
        {% set last_activity = data.pushed_at %}
    {% endif %}
{% elif repository_url and repository_url is containing("gitlab.com/") %}
    {% set repo_id = repository_url | split(pat="gitlab.com/") | last | urlencode_strict %}

    {% set data = load_data(url="https://gitlab.com/api/v4/projects/" ~ repo_id, format="json", required=false) %}
    {% if data %}
        {% set stars = data.star_count %}
        {% set last_activity = data.last_activity_at %}
    {% endif %}
{% endif %}

<li class="ui card{% if archived %} archived{% endif %}">
    {% if item.image %}
         {% if primary_url %}
            <a class="image" href="{{ primary_url }}">
        {% else %}
            <div class="image">
        {% endif %}
            <img src="{{ item.image }}" alt="Picture of {{ name }}">
        {% if primary_url %}
            </a>
        {% else %}
            </div>
        {% endif %}
    {% endif %}

    <div class="content">
        <a class="right floated" href="#{{ name | slugify }}" id="{{ name | slugify }}" aria-label="Permanent link for {{ name }}">
            <i class="hashtag icon" aria-hidden="true"></i>
        </a>

        {% if repository_url %}
            <a class="right floated" href="{{ repository_url }}" aria-label="Github link for {{ name }}">
                <i class="github icon" aria-hidden="true"></i>
            </a>
        {% endif %}

        {% if crate_url %}
            <a class="right floated" href="{{ crate_url }}" aria-label="Crates.io link for {{ name }}">
                <i class="cube icon" aria-hidden="true"></i>
            </a>
        {% endif %}

        {% if homepage_url %}
            <a class="right floated" href="{{ homepage_url }}" aria-label="Website link for {{ name }}">
                <i class="home icon" aria-hidden="true"></i>
            </a>
        {% endif %}

        <div class="header">
            {% if primary_url %}
                <a href="{{ primary_url }}">{{ name }}</a>
            {% else %}
                {{ name }}
            {% endif %}
        </div>

        <div class="meta">
            {% for category in item.categories %}
                {% set category_data = get_page(path="." ~ section.path ~ category ~ ".md") %}

                <a href="{{ category_data.permalink }}">{{ category_data.title }}</a>
                {% if not loop.last %}<span>·</span>{% endif %}
            {% endfor %}
        </div>

        <div class="description">
            <p>{{ description }}</p>
        </div>
    </div>
    
    {% if item.source or gitter_url %}
        <div class="extra content">
            <div class="ui horizontal list">
                {% if gitter_url %}
                    <div class="item">
                        <div class="content">
                            <a class="ui blue label" href="{{ gitter_url }}" target="_blank">
                                <i class="chat icon" aria-hidden="true"></i>
                                Chat on Gitter
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if latest_version %}
                    <div class="item">
                        <div class="content">
                            <div class="ui basic label">
                                <i class="code icon" aria-hidden="true"></i>
                                Latest version:
                                <div class="detail">{{ latest_version }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if downloads %}
                    <div class="item">
                        <div class="content">
                            <div class="ui basic label">
                                <i class="download icon" aria-hidden="true"></i>
                                Downloads:
                                <div class="detail">{{ downloads | num_format }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if recent_downloads %}
                    <div class="item">
                        <div class="content">
                            <div class="ui basic label">
                                <i class="clock icon" aria-hidden="true"></i>
                                Recent downloads:
                                <div class="detail">{{ recent_downloads | num_format }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if license %}
                    <div class="item">
                        <div class="content">
                            <div class="ui basic label">
                                <i class="balance scale icon" aria-hidden="true"></i>
                                License:
                                <div class="detail">{{ license }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if stars %}
                    <div class="item">
                        <div class="content">
                            <div class="ui basic label">
                                <i class="star icon" aria-hidden="true"></i>
                                Stars:
                                <div class="detail">{{ stars }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if last_activity %}
                    <div class="item">
                        <div class="content">
                            <div class="ui basic label">
                                <i class="calendar icon" aria-hidden="true"></i>
                                Last activity:
                                <div class="detail">{{ last_activity | date(format="%Y-%m-%d") }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</li>
{% endmacro info %}
