{% extends "master.html" %}
{% import "macros.html" as macros %}
{% import "categories/macros.html" as category_macros %}

{#
    a collection of crates, used to be "categories".  However, with Zola, categories implies
    a taxonomy, which isn't completely accurate since it's more like pages with external data loading.
#}

{% block seo %}
    <title>{{ page.title }} | {{ config.title }}</title>

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ page.permalink }}">
    <meta property="og:description" content="{{ page.description }}">
    <link rel="canonical" href="{{ page.permalink }}">
{% endblock seo %}

{% block content %}
{% set section = get_section(path=page.ancestors[1]) %}
{% set columns = section.extra.columns | default(value = "one") %}

{# Heading #}
<div class="ui vertical stripe">
    <h2 class="ui center aligned icon header">
        <i class="circular icon {{ section.extra.icon }}"></i>
        {{ page.title }}
    </h2>
    <div class="ui text container">
        <p>{{ page.description }}</p>
    </div>
</div>

{# list all content #}

<h4 class="ui horizontal divider header">
    <a href="#{{ section.extra.plural | slugify }}" id="{{ section.extra.plural | slugify }}">
        <i class="list icon big"></i>
        {{ section.extra.plural | title }}
    </a>
</h4>

<div class="ui vertical stripe">
    <div class="ui container">
        <div class="ui stackable cards {{ columns }}">
            {% set config = load_data(path = "content/" ~ section.path ~ "data.toml", format="toml") %}

            {% if config.items %}
                {% for item in config.items %}
                    {% if item.categories is containing(page.slug) %}
                        {{ category_macros::info(item=item, section=section) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<h4 class="ui horizontal divider header">
    <a href="#contribute" id="contribute">
        <i class="chat icon big"></i>
        Contribute
    </a>
</h4>

<div class="ui vertical stripe">
    <div class="ui text container">
        <p>Do you know about a missing {{ section.extra.single }}? Did you launch a new {{ section.extra.single }}?</p>
        <p>
            Please create
            <a href="https://github.com/rust-gamedev/arewegameyet/issues/new?title=Add+{{ section.extra.single }}:+NAME&amp;body=Please+add+{{ section.extra.single }}+to+category:+{{ page.title }}">an issue</a>
            or a pull request.
        </p>
        <p>Looking for a {{ section.extra.single }} you can't find here? Try asking on the <a href="/#chat">chat</a>.</p>
    </div>
</div>
{% endblock content %}