{% extends "master.html" %}
{% import "macros.html" as macros %}
{% import "categories/macros.html" as category_macros %}

{#
    a collection of crates, used to be "categories".  However, with Zola, categories implies
    a taxonomy, which isn't completely accurate since it's more like pages with external data loading.
#}

{% block seo %}
    <title>{{ page.title }} | {{ config.title }}</title>

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ page.permalink }}">
    <meta property="og:description" content="{{ page.description }}">
    <link rel="canonical" href="{{ page.permalink }}">
{% endblock seo %}

{% block content %}
{% set section = get_section(path=page.ancestors[1]) %}
{% set columns = section.extra.columns | default(value = "one") %}

{# Heading #}
<section class="ui vertical stripe">
    <h1 class="ui center aligned icon header">
        <i class="circular icon {{ section.extra.icon }}" aria-hidden="true"></i>
        {{ page.title }}
    </h1>
    <div class="ui text container">
        <p>{{ page.description }}</p>
    </div>
</section>

{# list all content #}

{% set config = load_data(path = "content/" ~ section.path ~ "data.toml", format="toml") %}

{% set crates = [] %}
{% set archived = [] %}

{% for item in config.items %}
    {% if item.categories is containing(page.slug) %}
        {% if item.archived %}
            {% set_global archived = archived | concat(with=item) %}
        {% else %}
            {% set_global crates = crates | concat(with=item) %}
        {% endif %}
    {% endif %}
{% endfor %}

<section id="crates-section">
    <h2 class="ui horizontal divider small header">
        <a href="#{{ section.extra.plural | slugify }}" id="{{ section.extra.plural | slugify }}">
            <i class="list icon big" aria-hidden="true"></i>
            {{ section.extra.plural | title }}
        </a>
    </h2>

    <div class="ui vertical stripe">
        <div class="ui container">
            <div class="crates-toolbar">
                <div id="sort-menu" class="ui dropdown icon selection">
                    <i class="sort amount down icon" aria-hidden="true"></i>
                    <span class="text">Sort by A-Z</span>
                    <i class="dropdown icon" aria-hidden="true"></i>

                    <ul class="menu">
                        <li class="item" data-value="data-name" data-order="asc">Sort by A-Z</li>
                        <li class="item" data-value="data-name">Sort by Z-A</li>

                        {% if section.extra.plural == "crates" %}
                            <li class="item" data-value="data-downloads" data-type="num">Sort by Downloads</li>
                            <li class="item" data-value="data-recent" data-type="num">Sort by Recent Downloads</li>
                            <li class="item" data-value="data-stars" data-type="num">Sort by Stars</li>
                            <li class="item" data-value="data-activity">Sort by Last Activity</li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <ul class="ui card-grid nolist {{ columns }}">
                {% for item in crates %}
                    {{ category_macros::info(item=item, section=section) }}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% if archived | length > 0 %}
    <section>
        <h2 class="ui horizontal divider small header">
            <a href="#{{ section.extra.plural | slugify }}" id="{{ section.extra.plural | slugify }}">
                <i class="bed icon big" aria-hidden="true"></i>
                Archived
            </a>
        </h2>

        <div class="ui vertical stripe">
            <div class="ui container">
                <div class="ui message">
                    <i class="info circle icon" aria-hidden="true"></i>
                    These {{ section.extra.plural }} are no longer maintained, but may still be of interest.
                </div>

                <ul class="ui card-grid nolist {{ columns }}">
                    {% for item in archived %}
                        {{ category_macros::info(item=item, section=section, archived=true) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endif %}

<section>
    <h2 class="ui horizontal divider small header">
        <a href="#contribute" id="contribute">
            <i class="chat icon big" aria-hidden="true"></i>
            Contribute
        </a>
    </h2>

    <div class="ui vertical stripe">
        <div class="ui text container">
            <p>Do you know about a missing {{ section.extra.single }}? Did you launch a new {{ section.extra.single }}?</p>
            <p>
                Please create a
                <a href="https://github.com/rust-gamedev/arewegameyet#contribute">pull request</a>
                or an 
                <a href="https://github.com/rust-gamedev/arewegameyet/issues/new?title=Add+{{ section.extra.single }}:+NAME&amp;body=Please+add+{{ section.extra.single }}+to+category:+{{ page.title }}">issue</a>
                on our GitHub!
            </p>
            <p>Looking for a {{ section.extra.single }} you can't find here? Try asking on the <a href="/#chat">chat</a>.</p>
        </div>
    </div>
</section>
{% endblock content %}

{% block footer %}
    <script src="/assets/semantic/js/dropdown.min.js"></script>
    <script src="/assets/js/sortCrates.js"></script>
{% endblock %}