{% extends 'master.html' %} 
{% import "macros.html" as macros %}

{% block masthead %}
<h1 class="ui inverted header">
    <div>
        <img class="ui centered image" src="assets/img/rust-logo-128x128-blk-v2-invert.png" alt="" width="128" height="128">
    </div>
    Are we game yet?
</h1>
<h2>Almost. We have the blocks, bring your own glue.</h2>
<a class="ui huge primary button" href="#get-started">Get Started <i class="right arrow icon"></i></a>
{% endblock %}

{% block content %}
<div class="ui vertical stripe">
    <h2 class="ui center aligned icon header">
        <i class="circular game icon"></i>
        <a href="#get-started" id="get-started">
            Get Started
        </a>
    </h2>
    <div class="ui text container">
        <p>
            Since you ended up here, you probably agree that Rust is potentially an ideal language for Game Development.
        </p>
        <p>
            Its emphasis on low-level memory safe programming promise a better development process, less debugging time,
            and better end result.
        </p>
        <p>
            While the ecosystem is still very young, you can find enough libraries and game engines to sink your teeth into
            doing some slightly experimental gamedev.
        </p>
        <p>
            If you haven't learned Rust yet, maybe take a look at <a href="#resources"><i class="icon list small"></i>Resources</a>
            first. If you are already proficient with Rust you might want to start with <a href="#ecosystem"><i class="icon grid layout small"></i>Ecosystem</a>,
            <a href="#news"><i class="icon newspaper small"></i>News</a>
            or <a href="#chat"><i class="icon chat small"></i>Chat</a>.
        </p>
    </div>
</div>


<h4 class="ui horizontal divider header">
    <a href="#chat" id="chat">
        <i class="chat icon big"></i>
        Chat
    </a>
</h4>

<div class="ui vertical stripe">
    <div class="ui text container">
        <p>
            The main meeting places for people doing gamedev in Rust are on the IRC channel
            <a href="https://www.irccloud.com/#!/ircs://irc.mozilla.org:6697/%23rust-gamedev">#rust-gamedev@irc.mozilla.org</a>
            and the #games-and-graphics channel on the <a href=https://bit.ly/rust-community>community-run Discord server</a>.
        </p>
        <p>Many libraries have their own lively gitter chats, which you can find in their descriptions.</p>
        <p>Also see the <a href="https://www.reddit.com/r/rust_gamedev"><i class="icon reddit alien small"></i>subreddit</a>.</p>
    </div>
</div>


<h4 class="ui horizontal divider header">
    <a href="#news" id="news">
        <i class="newspaper icon big"></i>
        News
    </a>
</h4>

<div class="ui vertical stripe">
    <div class="ui text container">
        <p>
            The latest Rust gamedev news are available at:
            the <a href="https://www.reddit.com/r/rust_gamedev"><i class="icon reddit alien small"></i>subreddit</a>,
            the monthly  <a href="https://rust-gamedev.github.io/"><i class="icon newspaper small"></i>newsletter</a>,
            and the <a href="https://twitter.com/rust_gamedev"><i class="icon twitter small"></i>@rust_gamedev</a> Twitter feed.
        </p>
    </div>
</div>

{% set ecosystem = get_section(path="ecosystem/_index.md") %}
{{ macros::category_list(section=ecosystem) }}

{% set games = get_section(path="games/_index.md") %}
{{ macros::category_list(section=games) }}

{% set resources = get_section(path="resources/_index.md") %}
{{ macros::category_list(section=resources) }}

<h4 class="ui horizontal divider header">
    <a href="#curators" id="curators">
        <i class="users icon big"></i>
        Curators
    </a>
</h4>

<div class="ui vertical stripe">
    <div class="ui text container">
        <p>
            The people that help maintain this site.
        </p>
    </div>

    <div class="ui container">
        <div class="ui three stackable cards">
            {% set data = load_data(path="content/contributors/data.toml") %}
            {{ macros::contributors(contributors=data.contributors) }} 

            <div class="ui card">
                <div class="content">
                    <div class="center aligned description">
                        Contribute to the site, and add your name here!
                    </div>
                </div>
                <a href="https://github.com/rust-gamedev/arewegameyet" class="ui bottom primary attached button">
                    <i class="github icon" aria-hidden="true"></i>
                    Go to GitHub
                </a>
            </div>
        </div>
    </div>
</div>

<h4 class="ui horizontal divider header">
    <a href="#about" id="about">
        <i class="user icon big"></i>
        About
    </a>
</h4>

<div class="ui vertical stripe">
    <div class="ui text container">
        <p>
            <strong>Arewegameyet?</strong> is made by <a href="https://twitter.com/doppioslash"><i class="twitter icon"></i>@doppioslash</a>
            and powered by <a href="https://github.com/getzola/zola">Zola</a>, a Rust static site generator.
        </p>
        <p>
            Inspired by <a href="https://www.arewewebyet.org/">arewewebyet</a>, and <a href="https://www.arewelearningyet.com/">arewelearningyet</a>.
        </p>
    </div>
</div>
{% endblock content %}
